BODY {
    font-family: sans-serif;
}

.hide {
    display: none;
}

.snippet-toggle {
    cursor: pointer;
    color: #2e6da4;
}

.method-header {
    font-family: monospace;
    font-size: 1.5em;
}

.method-uri-prefix {
    color: #888;
}

.method-type {
    background-color: #3c763d;
    color: #FFFFFF;
    display: inline-block;
    padding: .1em .2em;
}

.method-response-header {
    font-family: monospace;
    font-size: 1.2em;
}

.method-response-code {
    background-color: #8a6d3b;
    color: #FFFFFF;
    display: inline-block;
    padding: .1em .2em;
}

.method-responses {
    padding-left: 1em;
}

.parameter-pattern-value,
.parameter-example-value,
.parameter-key {
    font-family: monospace;
}
