H1, H2, H3, H4, H5, P {
    font-family: sans-serif;
}

.hide {
    display: none;
}

.schema-toggle {
    cursor: pointer;
    text-decoration: underline;
    color: #14e;
}

.resource-header {
    border-top: .2em solid #afd9ee;
    padding-top: .5em;
    margin-top: 1.5em;
}

.method-header {
    font-family: monospace;
}

.method-type {
    display: inline-block;
    padding: .1em .2em;
    background-color: #3c763d;
    color: #FFFFFF;
}

.method-uri-prefix {
    color: #888888;
}